= accordion_item do |item|
  - item.header do
    .table_row.flex.items-center.px-2
      .w-8.flex.items-center.justify-center
        - if show_child?
          = svg_tag 'chevron-down', class: 'w-full h-full'
      .flex.items-center.justify-between.w-full
        = render_columns
        - if @actions
          = render(Table::ItemActions::Component.new(@collection, tag: :div)) do |action_component|
            - if !@child.nil? && policy([namespace, @child[:class_name]]).create?
              - action_component.additional_actions do
                = link_to new_polymorphic_path([namespace.to_sym, @child[:class_name].to_s.downcase.to_sym], add_params), class: "table_item-action", title: "Add child" do
                  = svg_tag :add, class: "table_item-action-icon"

  - item.body do
    - if show_child?
      = tree_table do |table|
        - child_collections.each do |collection|
          = table.with_item(collection, values: @child[:values], level: @child[:level], child: @child[:child], child_add_params: @child[:child_add_params])
