= content_tag(@tag, class: @classes) do
	.flex.justify-end.items-center.space-x-1.px-2
		= @action

		- if archivable?
			%button{class: "table_item-action", data: {reflex: archive_reflex_method, id: @collection.id}}
				- if @collection.archived?
					= svg_tag :unarchive, class: 'table_item-action-icon', title: "Unarchive"
				- else
					= svg_tag :archive, class: 'table_item-action-icon', title: "Archive"
		- if policy([namespace, @collection]).show?
			= link_to [namespace, @collection], class: "table_item-action", title: "View" do
				= svg_tag :eye, class: 'table_item-action-icon'
		- if policy([namespace, @collection]).update?
			= link_to url_for([:edit, namespace.to_sym, @collection]), class: "table_item-action", title: "Edit" do
				= svg_tag :edit, class: 'table_item-action-icon'
		- if policy([namespace, @collection]).destroy?
			= link_to [namespace.to_sym, @collection], data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, disable_with: "Processing...", title: "Delete", class: "table_item-action" do
				= svg_tag :trash, class: 'table_item-action-icon'
	
		= additional_actions
